* {
    box-sizing: border-box;
}

body, html {
    padding:0;
    margin:0;
    background:black;
    color:	black;
    height:100%;
    width:100%;
}

header{
    height:15vh;
    width:100%;
    padding:40px 20px 20px;
}

h1{
    text-align: center;
    font-size: 4rem;
    margin:0;
    padding:0;
    color: #FF8C00;
    text-shadow: 1px 1px 2px white;
}

h2{
    font-size:3rem;
    text-transform: capitalize;
    text-align: center;
    margin:0;
    padding:0;
}

main{
    height: 55vh;
    padding:40px 20px 20px;
    margin:0 auto;
    width:60%;
    position: relative;
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 46px;
    background: #FF8C00;
}

footer{
    height:10vh;
    padding:20px;
    background-color: white;
}

main p{
    text-align: start;
    font-size:2.2rem;
    line-height: 2.4rem;
    letter-spacing: 0.02rem;
}

.wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:20px;
}

a.button-choice{
    display:inline-block;
    padding:1rem 3.2rem;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    font-size:24px;
    text-transform: uppercase;
    text-align:center;
    transition: all 0.2s;
    color:black;
}
a.button-choice:hover{
    color:#FF8C00;
    background-color:black;
}

#message{
    color:red;
    text-align: center;
    font-size:27px;
    padding-top:20px;
}

.description{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    align-items: center;
    align-content: center;
}

label {
    display:block;
    margin-bottom: 10px;
}



.text-desc {
    padding: 6px 17px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: #FF8C00;
    height: 46px;
    appearance: none;
    transition: border 0.15s ease 0s;
    width:260px;
}
.text-desc:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(255, 140, 0);
}


.submit0btn{
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #ff8c00 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #ff8c00;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width:110px;
}

.submit0btn:focus {
    text-decoration: none;
}

.submit0btn:hover {
    text-decoration: none;
}

.submit0btn:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.submit0btn:not([disabled]):active {
    box-shadow: #ff8c00 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

input[type=radio] {
    accent-color: black;
    width:16px;
    height:16px;
}

