* {
    box-sizing: border-box;
}

/*body, html {*/
/*    padding:0;*/
/*    margin:0;*/
/*    background:black;*/
/*    color:	black;*/
/*    height:100%;*/
/*    width:100%;*/
/*    font-family: 'PT Serif', serif;*/
/*    display:flex;*/
/*    flex-direction: column;*/
/*}*/

/*header{*/
/*    height:15vh;*/
/*    width:100%;*/
/*    padding:40px 20px 20px;*/
/*}*/

/*h1{*/
/*    text-align: center;*/
/*    font-size: 4rem;*/
/*    margin:0;*/
/*    padding:0;*/
/*    color: #FF8C00;*/
/*    text-shadow: 1px 1px 2px white;*/
/*}*/

/*h2{*/
/*    font-size:3rem;*/
/*    text-transform: capitalize;*/
/*    text-align: center;*/
/*    margin:0;*/
/*    padding:0;*/
/*}*/

/*main{*/
/*    height: 55vh;*/
/*    padding:40px 20px 20px;*/
/*    margin: auto;*/
/*    width:60%;*/
/*    position: relative;*/
/*    display:flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    border-radius: 46px;*/
/*    background: #FF8C00;*/
/*    border: 1px solid white;*/
/*}*/

/*footer{*/
/*    height:10vh;*/
/*    border: 3px solid white;*/
/*    background-color: black;*/
/*    margin-top: auto;*/
/*    display:flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    gap:15px;*/
/*}*/

/*.footer-item a {*/
/*    text-decoration: none;*/
/*    color: inherit;*/
/*}*/

/*.footer-item img {*/
/*    display: block;*/
/*    height: 40px;*/
/*    width: 40px;*/
/*    opacity:0.7;*/
/*}*/

/*.footer-item img:hover{*/
/*    opacity:1;*/
/*}*/

/*main p{*/
/*    text-align: start;*/
/*    font-size:2.2rem;*/
/*    line-height: 2.4rem;*/
/*    letter-spacing: 0.02rem;*/
/*}*/

/*.wrapper{*/
/*    display:flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    gap:20px;*/
/*}*/

/*#message{*/
/*    color:red;*/
/*    text-align: center;*/
/*    font-size:27px;*/
/*    padding-top:20px;*/
/*}*/

/*.description{*/
/*    display:flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    gap:20px;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*}*/

/*label {*/
/*    display:block;*/
/*    margin-bottom: 10px;*/
/*    font-family: 'PT Serif', serif;*/
/*    font-size:20px;*/
/*}*/



/*.text-desc {*/
/*    padding: 6px 17px;*/
/*    background: rgb(31, 32, 35);*/
/*    border: 1px solid rgb(60, 63, 68);*/
/*    border-radius: 4px;*/
/*    font-size: 16px;*/
/*    font-family: 'PT Serif', serif;*/
/*    color: #FF8C00;*/
/*    height: 46px;*/
/*    appearance: none;*/
/*    transition: border 0.15s ease 0s;*/
/*    width:260px;*/
/*}*/
/*.text-desc:focus{*/
/*    outline: none;*/
/*    box-shadow: none;*/
/*    border-color: rgb(255, 140, 0);*/
/*    font-family: 'PT Serif', serif;*/
/*}*/


.submit0btn{
    background-color: #121e2e;
    border: 1px solid #121e2e;
    border-radius: 4px;
    box-shadow: #ffffff 4px 4px 0 0, #121e2e 4px 4px 0 1px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width:110px;
    text-decoration: none;
}

.submit0btn a{
    text-decoration: none;
}

.submit0btn:focus {
    text-decoration: none;
}

.submit0btn:hover {
    text-decoration: none;
}

.submit0btn:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.submit0btn:not([disabled]):active {
    box-shadow: #ffffff 2px 2px 0 0, #121e2e 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

a.button-choice{
    display:inline-block;
    padding:1rem 3.2rem;
    border:0.1em solid black;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'PT Serif', serif;
    font-weight:300;
    font-size:24px;
    text-transform: uppercase;
    text-align:center;
    transition: all 0.2s;
    color:black;
}
a.button-choice:hover{
    color:white;
    background-color:black;
}

body{
    background: url(https://images.unsplash.com/photo-1672790620362-d0cb245b1ad5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80) no-repeat;
    background-size: cover;
}

.custom-mt {
    margin-top: 100px;
}

.custom-width-input{
    display:flex;
    justify-content: center;
}

.custom-width-input input{
    width:50%;
}

footer-item a {
    text-decoration: none;
    color: inherit;
}

.footer-item img {
    display: block;
    height: 40px;
    width: 40px;
    opacity: 0.8;
}

.footer-item img hover{
    opacity: 1;
}

/*}*/

/*input[type=radio] {*/
/*    accent-color: black;*/
/*    width:16px;*/
/*    height:16px;*/
/*}*/

/*.result-wrapper{*/
/*    display:flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    align-content: center;*/
/*    gap:15px;*/
/*    margin-top:15px;*/

/*}*/

/*#final-result{*/
/*    text-transform: uppercase;*/
/*    font-size:26px;*/
/*    color: #ffffff;*/
/*    font-family: 'PT Serif', serif;*/
/*}*/

/*#text{*/
/*    font-size:24px;*/
/*    font-family: 'PT Serif', serif;*/
/*    padding: 0 50px;*/
/*}*/

/*.statistics-wrapper{*/
/*    display:flex;*/
/*    flex-direction: column;*/
/*    gap:15px;*/
/*    padding: 20px;*/
/*}*/

/*h6{*/
/*    font-size: 24px;*/
/*    color:black;*/
/*    margin:0;*/
/*    padding:0;*/
/*}*/
